@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("../img/SnakeGameBG.png");
    min-height: 100vh;  /*view height*/
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#HighScoreBox{
    position: absolute;
    top: 89px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#board{
    background: linear-gradient(slategray,blanchedalmond);
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}

.head{
    background: linear-gradient(black,rgb(7, 70, 7));
    border: 2px solid black;
    transform: scale(1.02);
    border-radius: 12px;
}

.food{
    background: linear-gradient(rgb(163, 19, 19),rgb(23, 76, 23));
    border: .25vmin solid black;
    border-radius: 8px;
}

.snake{
    background-color:darkolivegreen;
    border: .25vmin solid black;
    border-radius: 12px;
}